
.footer {
    margin-bottom: 0;
    padding-top: 82px;
    padding-bottom: 56px;
    color: #2b2783;
    border-top: 2px solid rgba(50, 39, 131, .1);

    .address {
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 26px;
        color: #2b2783;
    }
}

.footer-detail {
    h6 {
        font-size: 18px;
        font-weight: 700;
        color: #2b2783;
    }

    ul {
        padding-left: 0px;
        margin-top: 20px;
    }

    ul li {
        list-style: none;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
    }
}

.copyright {
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    img {
        width: 40px;
    }
}