@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");


* {
  margin: 0%;
  padding: 0%;
}
hr {
  margin: auto;
}

P {
  margin-bottom: 0 !important;
}

html {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none !important;
  color: inherit !important; 
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

h1 {
    font-size: 28px;
    line-height: 1.3;
}

h2 {
    font-size: 24px;
    line-height: 1.3;
}

h3 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
}

h4 {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
}

h5 {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #4A4A4A !important;
}


.breadcrumb {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.87px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 9px;
  color: #312783;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.breadcrumb .active {
  color: #e30613;
  font-weight: 600;
}

.big-title {
  font-weight: 600;
  font-size: 26px;

  span {
    font-weight: 400 !important;
  }
}


.main-heading-par {
  display: flex;
  flex-direction: column;
  gap: 2px;

  h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin: 0;
    letter-spacing: 0%;
  }

  span {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0%;
    color: #363636;
  }
}



button {
  background-color: #312783;
  padding: 10px 33px 12px 33px;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

p {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #363636;
}


.read-before-book-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.read-before-book-header {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.info-section {
  margin-bottom: 20px;
}

.info-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 11px;
}

.info-description {
  font-size: 12px;
  font-weight: 400;
  color: #4A4A4A; 
}
.cancellation-policy-section {
  margin-top: 30px;
}

.cancellation-policy-header  {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 11px;
}

.cancellation-policy-text {
  font-size: 12px;
  font-weight: 400;
  color: #4A4A4A; 
}

select,
input.detail-input {
    width: 100%;
    height: 40px;
    max-width: 200px;
    padding: 10px;
    border: 1px solid #4342421A !important;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    background-color: #F8F8F8;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: normal;
    color: #312783 !important;
    outline: none;
}
